body {
    margin: 0;
    /* background-color: black; */
}

a {
    text-decoration: none; 
    color: #007BFF; 
    transition: color 0.3s ease; 
}

.cv-moi {
    position: absolute;
    float: left;
    top: 2svh;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f8f9fa;
    padding: .5rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.cv-moi:hover {
    color: #fff;
    background-color: #0056b3;
    text-decoration: underline;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: rotate(180deg) scale(0.5, 1);
    }

    100% {
        opacity: 1;
    }
}

.div-1 {
    background-color: white;
    display: none;
    opacity: 0;
    height: 55svh;
    width: 30svw;
    border: 1px solid black;
    position: fixed;
    top: 22.5%;
    left: 35%;
}

.div-1-display { 
    animation: fade-in 0.5s forwards;
    display: block;
    opacity: 1;
}



.div-2 {
    background-color: white;
    display: none;
    opacity: 0;
    height: 55svh;
    width: 30svw;
    border: 1px solid black;
    position: fixed;
    top: 22.5%;
    left: 35%;
}

.div-2-display {  
    animation: fade-in 0.5s forwards;
    display: block;
    opacity: 1;
}

.div-3 {
    background-color: white;
    display: none;
    opacity: 0;
    height: 55svh;
    width: 30svw;
    border: 1px solid black;
    position: fixed;
    top: 22.5%;
    left: 35%;
}

.div-3-display {  
    animation: fade-in 0.5s forwards;
    display: block;
    opacity: 1;
}

@media screen and (max-width:1000px) {

    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: rotate(180deg) scale(0.5, 1);
        }
    
        100% {
            opacity: 1;
        }
    }
    
    .div-1 {
        background-color: white;
        display: none;
        opacity: 0;
        height: 60svh;
        width: 90svw;
        border: 1px solid black;
        position: fixed;
        top: 20%;
        left: 5%;
    }
    
    .div-1-display { 
        animation: fade-in 0.5s forwards;
        display: block;
        opacity: 1;
    }
    
    .div-2 {
        background-color: white;
        display: none;
        opacity: 0;
        height: 60svh;
        width: 90svw;
        border: 1px solid black;
        position: fixed;
        top: 20%;
        left: 5%;
    }
    
    .div-2-display {  
        animation: fade-in 0.5s forwards;
        display: block;
        opacity: 1;
    }
    
    .div-3 {
        background-color: white;
        display: none;
        opacity: 0;
        height: 60svh;
        width: 90svw;
        border: 1px solid black;
        position: fixed;
        top: 20%;
        left: 5%;
    }
    
    .div-3-display {  
        animation: fade-in 0.5s forwards;
        display: block;
        opacity: 1;
    }
}



