body {
    margin: 0;
    /* background-color: black; */
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

#cv-moi {
    display: none;
}

.card {
    width: 30svw;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
    }
}

.div-1 {
    position: fixed;
    top: 15%;
    left: 35%;
}

.div-1-display {
    animation: fade-in 0.5s forwards;
    display: block;
    opacity: 1;
}

.div-1-hidden {
    display: none;
    opacity: 0;
}

.div-2 {
    position: fixed;
    top: 15%;
    left: 35%;
}

.div-2-display {
    animation: fade-in 0.5s forwards;
    display: block;
    opacity: 1;
}

.div-2-hidden {
    display: none;
    opacity: 0;
}

.div-3 {
    position: fixed;
    top: 15%;
    left: 35%;
}

.div-3-display {
    animation: fade-in 0.5s forwards;
    display: block;
    opacity: 1;
}

.div-3-hidden {
    display: none;
    opacity: 0;
}

.image {
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

@media screen and (max-width:1000px) {

    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }

        100% {
            opacity: 1;
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    .card {
        width: 90svw;
    }

    .div-1 {
        position: fixed;
        top: 20%;
        left: 5%;
    }

    .div-1-display {
        animation: fade-in 0.5s forwards;
        display: block;
        opacity: 1;
    }

    .div-1-hidden {
        display: none;
        opacity: 0;
    }

    .div-2 {
        position: fixed;
        top: 20%;
        left: 5%;
    }

    .div-2-display {
        animation: fade-in 0.5s forwards;
        display: block;
        opacity: 1;
    }

    .div-2-hidden {
        display: none;
        opacity: 0;
    }

    .div-3 {
        position: fixed;
        top: 20%;
        left: 5%;
    }

    .div-3-display {
        display: block;
        opacity: 1;
    }
}